{% unless post %}
  {% assign post = page %}
{% endunless %}
<article>
  <div class="post-meta">
    <p class="date">{{ post.date | date: "<i>%d</i><b>%b</b>" }}</p>
  </div>
  <h2 class="post-title">{{ post.title }}
    <small>
      <span>category: <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ post.category }}-ref" rel="tag"><i class="hash">#</i>{{ post.category }}</a></span>
      <span class="hidden-xs">tags: {% for tag in post.tags %} <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref" rel="tag"><i class="hash">#</i>{{ tag }}</a>{% if forloop.last != true %},{% endif %}{% endfor %}</span>
    </small>
  </h2>
  <div class="post">
    {% if post.layout == 'default' %}{{ content }}{% else %}{{ post.content }}{% endif %}
  </div>
  {% if post.layout == 'post' %}
  <div class="comments-count">
    <div class="pull-right">
      <a href="{{ BASE_PATH}}{{ post.url }}#comments_disqus_thread"><i class="fa fa-comment-o"></i>&nbsp;</a>{% if site.safe %}<a href="{{ BASE_PATH}}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a>{% endif %}
    </div>
  </div>
  {% endif %}
</article>
